

/* main content */
.main-screen {
    background: url("assets/main-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

h1,h3, h5,
h6 {
    color: white;
    text-align: center;
}

h1 {
    font-size: 120;
}

h2 {
    font-size: 400%;
}

button {
    color: white;
    text-align: center;
}

.container {
    vertical-align: middle;
}

#playNowButton{
    color: white;
    padding-left: 10vh;
    padding-right: 10vh;
    font-weight: bold;
}

#theStory{
    padding-top: 20vh;
}

#content{
    padding-top: 20vh;
}

/* Choice Content */
.game-choice {
    background: url('./assets/the-games-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
}

.choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-sub-con-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    justify-content: left;

}

.choice-sub-con-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50vh;

}

.carousel-inner{
    width: 35vh;
}

#img-carousel{
    background-size: contain;
    width: 100%;

}

/* Features Content */

.game-features {
    background: url('./assets/features.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

/* .features-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
} */

.features-column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    color: white;
}

/* Requirements Content */

.game-requirements {
    background: url('./assets/requirements.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

#requirementsContent{
    padding-top: 10vh;
    text-align: left;
}

/* Top Scores Content */

.top-scores {
    background: url('./assets/top-score-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* Footer Content */

.footer {
    width: 100%;
    height: 57rem;
}

